* {
  font-family: Times, "Times New Roman", Georgia, serif;
}
html {
  scroll-behavior: smooth;
  margin: 0 auto;
}
body {
  margin: 0;
}
code {
  font-family: Consolas, "courier new";
  color: crimson;
  background-color: #f1f1f1;
  padding: 2px;
  font-size: 105%;
}
header {
  background: #005A9C;
  padding: 10px 15px;
  position: sticky;
  top: 0;
}
nav li {
  list-style: none;
  display: inline;
  margin-right: 15px;
}
nav a {
  color: #fff;
  text-decoration: none;
}
code {
  padding: 0;
}
#page-wrap {
  background: powderblue;
  width: 800px;
  margin: 0 auto;
  /* block-shadow */
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
footer {
  background: #005A9C;
  padding: 10px 15px;
  position: sticky;
  top: 0;
}
footer li {
  list-style: none;
  display: inline;
  margin-right: 15px;
}
